{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-classes"],
  "assumptions": {
    "setClassMethods": true,
    "constantSuper": true,
    "superIsCallableConstructor": true,
    "noClassCalls": true
  }
}
