{
  "globals": {
    "H5P": true,
    "H5PIntegration": true,
    "H5PEditor": true
  },
  "env": {
    "browser": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": "off",
    "semi": [2, "always"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "brace-style": ["error", "stroustrup"],
    "keyword-spacing": ["error", {"after": true}],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-extra-boolean-cast": "off",
    "no-console": ["error", {"allow": ["warn", "error"]}],
    "no-restricted-globals": [2, "event"]
  }
}
