.h5p-ar-scavenger-content-container {
  .h5p-ar-scavenger-panel {
    max-width: 1920px; /* FullHD resolution*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .h5p-ar-scavenger-content-message {
    padding: 1em;
    text-align: center;
  }
}
