@import "@styles/main";

.h5p-ar-scavenger {
  min-width: $contentWidthMin;

  > .h5p-question-content {
    margin: 0;
  }

  &.h5p-fullscreen {
    > .h5p-question-content {
      height: 100%;

      .h5p-ar-scavenger-screen-content {
        height: 100%;
      }
    }
  }

  .h5p-ar-scavenger-display-none {
    display: none;
  }
}
