@use "@styles/main";

.h5p-ar-scavenger-feedback-section {
  align-self: center;
  max-width: 85%;

  .h5p-ar-scavenger-score-text {
    color: main.$color-joubelui-button;
    font-weight: 700;
    margin: 0.5em 0;
    text-align: center;
  }

  .h5p-joubelui-score-bar {
    margin-bottom: 1.5em;
  }
}
