.h5p-ar-scavenger-title-bar {
  align-items: center;
  background-color: #fff;
  background-size: cover;
  box-shadow: 0.5em 0.5em 2em rgba(166, 166, 166, 0.2);
  display: flex;
  overflow: hidden;
  padding: .5em;

  .h5p-ar-scavenger-title {
    color: #4c4452;
    flex-grow: 1;
    font-family: Arial;
    font-size: 1.15em;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;
    text-decoration: none solid #4c4452;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .h5p-ar-scavenger-button {
    &.h5p-ar-scavenger-button-fullscreen {
      background-image: url(../../images/button-fullscreen-enter-icon-blue.svg);

      &.h5p-ar-scavenger-button-active {
        background-image: url(../../images/button-fullscreen-exit-icon-blue.svg);
        background-color: initial;

        &:hover {
          background-color: rgba(26, 115, 217, 0.05);
        }
      }
    }

    &.h5p-ar-scavenger-button-switch-view {
      background-image: url(../../images/button-task-icon-blue.svg);

      &.h5p-ar-scavenger-button-active {
        background-image: url(../../images/button-camera-icon-white.svg);
      }

      &.h5p-ar-scavenger-button-disabled {
        background-image: url(../../images/button-camera-icon-grey.svg);
      }
    }

    &.h5p-ar-scavenger-button-quit {
      background-image: url(../../images/button-quit-icon-blue.svg);

      &.h5p-ar-scavenger-button-active {
        background-image: url(../../images/button-quit-icon-white.svg);
      }

      &.h5p-ar-scavenger-button-disabled {
        background-image: url(../../images/button-quit-icon-grey.svg);
      }
    }
  }
}
