.h5p-ar-scavenger-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-bottom: 3em;
}

.h5p-ar-scavenger-screen-image-wrapper {
  align-items: center;
  display: flex;
  height: 15em;
  justify-content: center;
  margin: 3em 0;
  position: relative;
}

.h5p-ar-scavenger-screen-image {
  box-shadow: 0.5em 0.25em 3em 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0.5em 0.25em 3em 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0.5em 0.25em 3em 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  max-height: 15em;
  max-width: 85%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h5p-ar-scavenger-screen-image-bar {
  background-color: rgba(26, 115, 217, 0.05);
  background-size: cover;
  height: 70%;
  width: 100%;
}

.h5p-ar-scavenger-screen-text {
  align-self: center;
  max-width: 85%;
}

.h5p-ar-scavenger-screen-button-close {
  align-self: center;
  border: 0;
  border-radius: 3px; /* Same px value as used by Joubel in Interactive Book */
  font-size: 1.25em;
  padding: 0.4em 1.4em;
  margin: 1em 0;
}
